@smoke @62x @00x @dx8000 @ex8000 @dx4000 @rx5000 @rx7000

Feature: {{ feature_name }}
"""
 {{ description | trim }}
 TestLink test case link: {{ testlink_url }}
"""

{% for scenario in scenarios %}
Scenario{% if scenario.examples %} Outline{% endif %}: {{ scenario.name }}

{% set previous_keyword = None %}
{% for step in scenario.steps %}
{% if loop.first %}
{{ step.keyword }} {{ step.text }}
{% else %}
  {% if step.keyword == previous_keyword %}
And {{ step.text }}
  {% else %}
{{ step.keyword }} {{ step.text }}
  {% endif %}
{% endif %}

{% if step.table and step.table|length > 0 %}
{% for row in step.table %}
| {{ row | join(' | ') }} |
{% endfor %}
{% endif %}

{% set previous_keyword = step.keyword %}
{% endfor %}

{% if scenario.examples %}
Examples:
| {{ scenario.examples[0] | join(' | ') }} |
{% for row in scenario.examples[1:] %}
| {{ row | join(' | ') }} |
{% endfor %}
{% endif %}

{% endfor %}
